@import url('https://fonts.googleapis.com/css?family=Audiowide');

* {
  font-family: "Audiowide", sans-serif
}


.wholeResultsPage{
  display: grid;
  align-items: center;
  text-align: center;
  min-width: max-content;
  padding: 50px 0px;
  width: 100vw;
  background-color: rgb(200, 231, 255)
}
.wholeResultsPageDark{
  display: grid;
  align-items: center;
  text-align: center;
  min-width: max-content;
  width: 100vw;
  padding: 50px 0px;
  background-color: #333;
}

#plot_div{
  width: fit-content;
  height: fit-content;
}
#plot_dive{
  width: fit-content;
  height: fit-content;
  box-shadow:  2px 2px 5px #fff, 0 0 25px rgb(34, 92, 209);
  margin-bottom: 50px;
  z-index: 2;
}

#plot_div_dark{
  width: fit-content;
  height: fit-content;
  box-shadow:  2px 2px 5px #fff,0 0 25px rgb(237, 32, 32);
  margin-bottom: 50px;
  z-index: 2;
}

#text {
  text-shadow: 2px 2px 45px rgb(34, 92, 209);
  padding-bottom: 10px;
}

#text_dark {
  text-shadow: 2px 2px 45px rgb(237, 32, 32);
  padding-bottom: 10px;
}


#togglebutton{
  position: fixed;
  top: 15px;
  right: 25px;
  display: block;
  height: 35px;
  width: 35px;
}
img{
  position: absolute;
  height: 50px;
}



#dark {
    background-color: #333;
    color: #fff;
    height: 100vh;
  }
#light {
    background-color: rgb(200, 231, 255);
    color: #333;
    height: 100vh;
  }
.dark {
    background-color: #333;
    color: #fff;
  }
.lightTheme {
    background-color: rgb(200, 231, 255);
    color: #333;
  }

  .setParamsBackground{
    background-color: rgb(200, 231, 255);
  }
  .setParamsBackgroundDark{
    background-color: #333;
  }


.homepage {
  display: grid;
  width: 100vw;
  align-items: center;
  text-align: center;
  padding:10% 0%;
}


.linksToStrategies{
  border: 1px solid black;
  background-color: rgb(240, 240, 240);
  border-radius: 10%;
  display: flex;
  margin: auto;
  justify-content: center ;
  align-items: center;
  width: 15%;
  height: 10vh;
  min-width: 150px;
  z-index: 2;
}

#strategyHome{
  min-width: 100px;
}

.linksToStrategiesDark{
  border: 1px solid #fff;
  background-color: darkgrey;
  border-radius: 10%;
  display: flex;
  margin: auto;
  justify-content: center ;
  align-items: center;
  width: 15%;
  height: 10vh;
  min-width: 150px;
  z-index: 2;
}

#containPlot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.containerTable{
  display: grid;
  align-items: center;
  text-align: center;
  padding-bottom: 15px;
}

.resultsTable{
  /* border: 1px solid black; */
  box-shadow:  2px 2px 5px #fff, 0 0 25px rgb(34, 92, 209);
  width: 70%;
  margin: auto;
  padding: 10px;
  z-index: 2;
}

.resultsTable td {
  border: 1px dotted black;
}
.resultsTableDark{
  border: 1px solid #fff;
  box-shadow:  2px 2px 5px #fff, 0 0 25px rgb(237, 32, 32);
  width: 70%;
  margin: auto;
  padding: auto;
  z-index: 2;
}

.resultsTableDark td {
  border: 1px dotted #fff;
  
}

#BUY{
  color:green
}
#SELL{
  color:red
}

.setParams{
  border: 1px solid black;
  display: grid;
  width: 50%;
  aspect-ratio: 10/9;
  min-width: 280px;
  margin: auto;
  text-align: center;
  position:relative;
  top:20%;
  border-radius: 12%;
  box-shadow: 4px 2px 5px #333, 0 0 25px rgb(34, 92, 209);
  z-index: 2;
}
.setParamsDark{
  border: 1px solid #fff;
  box-shadow: 2px 2px 5px #fff, 0 0 25px rgb(237, 32, 32);
  display: grid;
  width: 50%;
  aspect-ratio: 10/9;
  min-width: 280px;
  margin: auto;
  text-align: center;
  position:relative;
  top:20%;
  border-radius: 12%;
  z-index: 2;
}

.setParams input {
  width: 50%;
  margin: auto;
  margin-bottom: 3%;
}
.setParams select {
  width: 50%;
  margin: auto;
  margin-bottom: 3%;
}

.setParams button {
  width: 20%;
  min-width: 80px;
  margin: auto;
  margin-bottom: 3%;
}

.setParams label {
  margin: auto;
  margin-top: 3%;
}
.setParamsDark input {
  width: 50%;
  margin: auto;
  margin-bottom: 3%;
}
.setParamsDark select {
  width: 50%;
  margin: auto;
  margin-bottom: 3%;
}

.setParamsDark button {
  width: 20%;
  margin: auto;
  min-width: 80px;
  margin-bottom: 3%;
}

.setParamsDark label {
  margin: auto;
  margin-top: 3%;
}

.blockThing{ 
  height: 100px;
  display: block;
}

.light {
  position: absolute;
  width: 0px;
  opacity: .75;
  background-color: rgb(127, 22, 219);
  box-shadow: #aa1818 0px 0px 20px 2px;
  opacity: 0;
  top: 100vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  z-index: 0;
}
.darktheme {
  position: absolute;
  width: 0px;
  opacity: .75;
  background-color: rgb(22, 29, 103);
  box-shadow: rgb(59, 110, 211) 0px 0px 20px 2px;
  opacity: 0;
  top: 100vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  z-index: 0;
}


.x1{
  -webkit-animation: floatUp 4s infinite linear;
  -moz-animation: floatUp 4s infinite linear;
  -o-animation: floatUp 4s infinite linear;
  animation: floatUp 4s infinite linear;
   -webkit-transform: scale(1.0);
   -moz-transform: scale(1.0);
   -o-transform: scale(1.0);
  transform: scale(1.0);
}

.x2{
  -webkit-animation: floatUp 7s infinite linear;
  -moz-animation: floatUp 7s infinite linear;
  -o-animation: floatUp 7s infinite linear;
  animation: floatUp 7s infinite linear;
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -o-transform: scale(1.6);
  transform: scale(1.6);
  left: 15%;
}

.x3{
  -webkit-animation: floatUp 2.5s infinite linear;
  -moz-animation: floatUp 2.5s infinite linear;
  -o-animation: floatUp 2.5s infinite linear;
  animation: floatUp 2.5s infinite linear;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  -o-transform: scale(.5);
  transform: scale(.5);
  left: -15%;
}

.x4{
  -webkit-animation: floatUp 4.5s infinite linear;
  -moz-animation: floatUp 4.5s infinite linear;
  -o-animation: floatUp 4.5s infinite linear;
  animation: floatUp 4.5s infinite linear;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  left: -34%;
}

.x5{
  -webkit-animation: floatUp 8s infinite linear;
  -moz-animation: floatUp 8s infinite linear;
  -o-animation: floatUp 8s infinite linear;
  animation: floatUp 8s infinite linear;
  -webkit-transform: scale(2.2);
  -moz-transform: scale(2.2);
  -o-transform: scale(2.2);
  transform: scale(2.2);
  left: -57%;
}

.x6{
  -webkit-animation: floatUp 3s infinite linear;
  -moz-animation: floatUp 3s infinite linear;
  -o-animation: floatUp 3s infinite linear;
  animation: floatUp 3s infinite linear;
  -webkit-transform: scale(.8);
  -moz-transform: scale(.8);
  -o-transform: scale(.8);
  transform: scale(.8);
  left: -81%;
}

.x7{
  -webkit-animation: floatUp 5.3s infinite linear;
  -moz-animation: floatUp 5.3s infinite linear;
  -o-animation: floatUp 5.3s infinite linear;
  animation: floatUp 5.3s infinite linear;
  -webkit-transform: scale(3.2);
  -moz-transform: scale(3.2);
  -o-transform: scale(3.2);
  transform: scale(3.2);
  left: 37%;
}

.x8{
  -webkit-animation: floatUp 4.7s infinite linear;
  -moz-animation: floatUp 4.7s infinite linear;
  -o-animation: floatUp 4.7s infinite linear;
  animation: floatUp 4.7s infinite linear;
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -o-transform: scale(1.7);
  transform: scale(1.7);
  left: 62%;
}

.x9{
  -webkit-animation: floatUp 4.1s infinite linear;
  -moz-animation: floatUp 4.1s infinite linear;
  -o-animation: floatUp 4.1s infinite linear;
  animation: floatUp 4.1s infinite linear;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  left: 85%;
}


@-webkit-keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}
@-moz-keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}
@-o-keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}
@keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}